*,::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(1, 233, 248, 0.5);
    background: -webkit-radial-gradient(center, rgba(1, 233, 248, 0.6), rgba(27, 4, 233, 0.7));
    background: -moz-radial-gradient(center, rgba(1, 233, 248, 0.7), rgba(27, 4, 233, 0.6));
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: center;
}
header button{
    background-color: rgba(1, 232, 248, 0.696);
    font-size: 2rem;
    margin: 1rem;
    cursor:pointer ;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.clock{
    height: 400px;
    width: 400px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("horloge.png");
    background-size: contain;
}
.hour{
    height: 8px;
    width: 30%;
}
.minute{
    height: 6px;
    width: 40%;
}
.second{
    height: 4px;
    width: 50%;
}
.hour, .minute, .second{
    background-color: black;
    position: absolute;
    left: 50%;
    transform-origin: left center;
}
.pivot{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
}